* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #5eb0e2;

}

header {
    margin: 20px;
    text-align: center;
    font-weight: bolder;
    align-items: center;
}



.boxbox-1{
    background: #e9fc7c;
}

.form-container {
    width: 250px;
    margin: 60px auto;
}

